obj/
bin/
Demo/CPUT/Debug/
Demo/CPUT/x64/
Demo/Debug/
Demo/lib/
Demo/SoftwareOcclusionCulling_2012/Win32/
Demo/
SoftOcclude/Debug/
examples/IntelDemo/CPUT/Debug/
examples/IntelDemo/lib/
examples/IntelDemo/SoftwareOcclusionCulling_2012/Win32/
examples/Minimal/Debug/
examples/Minimal/lib/
build/Visual Studio 2012/Debug/
*.sdf
build/Visual Studio 2012/*
build/*
build/*
build/Visual Studio 2012/SoftOcclude.vcxproj
examples/Minimal/.vs/*
examples/Minimal/Release/*
examples/Minimal/Minimal.vcxproj
*.vcxproj
.vs/*
build/*
bin/*
*.vcxproj.filters
*.vcxproj.user
*.opensdf
*.sln
*.vcxproj.user
SoftOcclude.v11.suo
